<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "7 Teros" %></title>

    <%= stylesheet_link_tag "site" %>
  </head>

  <body>
    <!-- <div class="parallax">
      <%= image_tag 'background.jpg' %>
    </div> -->
    <div class="container">
      <%= partial "header" %>
      <%= yield %>
    </div>
    <%= partial "footer" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
