<section class="row">
  <article class="col s4">
    <header>
      <h3>7 Teros</h3>
    </header>
    <div class="parallax-container">
        <div class="parallax"><%= image_tag 'siete-teros/0001.jpg' %></div>
    </div>
    <p><%= t 'siete_teros.content' %></p>
  </article>

  <article class="col s4">
    <header>
      <h3>Quetza</h3>
    </header>
    <div class="parallax-container">
        <div class="parallax"><%= image_tag 'quetza/0001.jpg' %></div>
    </div>

    <p><%= t 'quetza_content.content' %></p>
  </article>

  <article class="col s4">
    <header>
      <h3>Naranja lima</h3>
    </header>
    <div class="parallax-container">
        <div class="parallax"><%= image_tag 'naranja-lima/0002.jpg' %></div>
    </div>
    <p><%= t 'naranja_lima.content' %></p>
  </article>
</section>
